/* Base styles for form containers */
.formContainer {
  max-width: 600px; /* Choose the max-width you prefer */
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form elements styles */
.formContainer h2 {
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
}

.formContainer label {
  display: block;
  margin-top: 1rem;
  color: #666;
}

.formContainer input,
.formContainer select,
.formContainer textarea {
  width: 100%;
  padding: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem; /* For login form */
  border: 1px solid #ddd;
  border-color: #999;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding doesn't affect the overall width */
}

/* Clearing floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Additional styles if needed for individual forms can be added below */

.formContainer2 input[type="submit"] {
  background-color: #5c6bc0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.formContainer2 input[type="submit"]:hover {
  background-color: #3f51b5;
}

.errorMark input[type="submit"] {
  border: 1px solid red;
}
